@keyframes spin {
    0% {
     transform: rotate(0deg);
    }
    100% {
     transform: rotate(360deg);
    }
 }

 @keyframes tour{
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
}

@keyframes flou{
    0%{opacity: 0}
    30%{opacity: 0.2}
    60%{opacity: 0.6}
    100%{opacity: 1}
}

@keyframes colle{
    0%{transform: translateY(10px);}
    50%{transform: translateY(10px);}
    100%{transform: translateY(0px);}
}
